@import 'compass';

$gradient: ();

// Generate multiple black/white linear gradients
@for $i from 1 to 40 {
  /* Sass version doesn't accept two arguments?
  @function rand($min, $max) { @return random($max - $min) + $min;} */
  $degrees : random(30,180) * 1deg;
  $start : random(100);
  $end : random($start + 1, $start + 20);

  $gradient: join(
    $gradient,
    linear-gradient($degrees, 
      #000 $start + unquote('%'),
      #fff $end + unquote('%')),
    comma
    );
}

.paper {
  position: relative;
  
  &::before,
  &::after {
    // Apply gradients with a blend mode
    background: $gradient;
    background-blend-mode: difference;
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  
  &::after {
    // Invert the second layer and offset
    filter: invert(1);
    opacity: 0.5;
    top: 1px;
  }
}

// Add a subtle color overlay. This can be any color
.color-overlay {
  background: hsla(0, 0, 0, 0.5);
  mix-blend-mode: overlay;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}

//=== Non-essential styling

.paper {
  line-height: 1.5;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}